<div style="margin: auto; max-width: 1000px; margin-bottom: 50px">
      <data-table id="empolyee-grid"
        headerTitle="Employees"
        [items]="employeeList"
        [itemCount]="employeeCount"
        (reload)="reloadEmployee($event)">

        <data-table-column
          [property]="'name'"
          [header]="'Name'"
          [sortable]="true"
          [resizable]="true">
        </data-table-column>

        <data-table-column
          [property]="'date'"
          [header]="'Date'"
          [sortable]="true">
          <template #dataTableCell let-item="item">
            <span>{{item.date | date: 'dd/MM/yyyy'}}</span>
          </template>
        </data-table-column>

        <data-table-column
          property="phoneNumber"
          header="Phone number"
          width="150px">
        </data-table-column>

        <data-table-column
          property="jobTitle"
          header="JobTitle"
          [visible]="false">
        </data-table-column>

        <data-table-column
          [property]="'active'"
          [header]="'Active'"
          [width]="100">
          <template #dataTableCell let-item="item">
            <span style="color: green" *ngIf="item.active">True</span>
            <span style="color: red" *ngIf="!item.active">False</span>
          </template>
        </data-table-column>

      </data-table>
</div>
