<header class='header' *ngIf="showNavBar">
  <nav>
    <a href='javascript:void(0)' class='brand'>Tracking</a>
    <ul class='menu'>
      <li class='menu__item'>
        <a 
          routerLink='/customers'
          routerLinkActive='active'
          class='menu__link'>
          Customers
        </a>
      </li>
      <li class='menu__item'>
        <a 
          routerLink='/map'
          routerLinkActive='active'
          class='menu__link'>
          Map
        </a>
      </li>
       <li class='menu__item'>
        <a 
          routerLink='/employee'
          routerLinkActive='active'
          class='menu__link'>
          Employee
        </a>
      </li>
      <li class="menu__item">
        <a [routerLink]="['/login']" class="menu__link">Logout</a>
    </ul>
  </nav>
</header>
