<div>
  <a routerLink='/customer/create'>Create New</a>
</div>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
      <th>Province</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customerList">
      <td>{{customer.Id}}</td>
      <td>{{customer.Name}}</td>
      <td>{{customer.Address}}</td>
      <td>{{customer.Province}}</td>
      <td><a href="javascript:void(0)" (click)="onUpdate(customer.Id)">Edit</a></td>
    </tr>
  </tbody>
</table>
